.btn-general {
	cursor: pointer;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 11px;
	background: $blueLight;
	color: $white;
	height: 54px;
	font-weight: 800;
	text-decoration: none;
	transition: .3s;
	&:hover {
		color: $white;
		background: rgb(0, 186, 226);
	}
}