.composition {
	&__title {
		margin-bottom: 110px;
		position: relative;
		width: fit-content;
		@include media-max(575) {
			margin-bottom: 55px;
		}
		&::before {
			content: '';
			background: url("../images/dist/icons/eco.svg");
			background-size: cover;
			display: block;
			position: absolute;
			width: 96px;
			height: 96px;
			right: -87px;
			top: -34px;
			@include media-max(991) {
				width: 70px;
				height: 70px;
				right: -70px;
				top: -24px;
			}
			@include media-max(575) {
				width: 40px;
				height: 40px;
				right: -38px;
				top: -13px;
			}
		}
	}
	&__element {
		background: #e6f4ff;
		border-radius: 20px;
		padding: 35px 30px;
		max-width: 176px;
		width: 100%;
		margin-bottom: 32px;
		@include media-max(1399) {
			padding: 35px 15px;
		}
		@include media-max(575) {
			padding: 25px 15px;
		}
		i {
			display: block;
			text-align: center;
			margin: 0 auto 34px;
		}
		span {
			font-weight: 600;
			font-size: 15px;
			line-height: 130%;
			min-height: 38px;
			@include media-max(575) {
				font-size: 12px;
			}
		}
	}
}